.question {
  &__choices {
    margin: 20px 0;
    width: 50%;
  }
}

// ANIMATION

.question-appear,
.question-enter {
  opacity: 0.01;
  transform: translateX(40px);
}

.question-appear.question-appear-active,
.question-enter.question-enter-active {
  opacity: 1;
  will-change: opacity transform;
  transition: all 400ms ease;
  transform: translateX(0);
}

.question-leave {
  opacity: 1;
}

.question-leave.question-leave-active {
  opacity: 0.01;
  transition: all 400ms ease-in;
  transform: translateX(-40px);
}
